@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fontface" as *;

.youwon {
    width: 100%;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0px;
    z-index: 100;

    &__wrapper {
        width: 90%;
        background-color: $background-colour;
        margin: 0 auto;
        padding: 0.5rem 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 10px solid rgb(7, 235, 7);

        @include tablet {
            max-width: 70rem;
        }
    }

    &__heading {
        color: $primary-colour;
        font-size: 1.5rem;
        text-align: center;
        margin: 0;

        @include tablet {
            font-size: 2rem;
        }
    }

    &__subheading {
        color: $primary-colour;
        font-size: 1rem;
        text-align: center;
        margin: 0;

        @include tablet {
            font-size: 1.5rem;
        }

        @include desktop {
            font-size: 2rem;
        }
    }

    &__text {
        color: $primary-colour;
        font-size: 1rem;
        text-align: center;
        margin: 0;

        @include tablet {
            font-size: 1.5rem;
        }

        @include desktop {
            font-size: 2rem;
        }
    }
}
