// Breakpoints
$breakpoint-desktop: 1279px;
$breakpoint-tablet: 767px;

// Site Colours
$background-colour: #151515;
$primary-colour: #f1f1f1;
$suggestion-text-colour: #151515;
$suggestion-bg-colour: #f1f1f1;
$suggestion-border-colour: lightgray;

// Genre Colours
$genre-colour-default: #e8edf0;
$genre-colour-action: #f5b7b1;
$genre-colour-adventure: #d2b4de;
$genre-colour-animation: #a9cce3;
$genre-colour-comedy: #a2d9ce;
$genre-colour-crime: #abebc6;
$genre-colour-documentary: #f9e79f;
$genre-colour-drama: #f5cba7;
$genre-colour-family: #884ea0;
$genre-colour-fantasy: #2471a3;
$genre-colour-history: #2471a3;
$genre-colour-horror: #a93226;
$genre-colour-music: #edbb99;
$genre-colour-mystery: #a9dfbf;
$genre-colour-romance: #ee83f8;
$genre-colour-scifi: #aed6f1;
$genre-colour-tv: #e7e7e7;
$genre-colour-thriller: #fad7a0;
$genre-colour-war: #f45558;
$genre-colour-western: #e6b0aa;
