// Breakpoints
$breakpoint-desktop: 1279px;
$breakpoint-large-tablet: 1023px;
$breakpoint-tablet: 767px;

// Genre Colours
$genre-color-action: #f5b7b1;
$genre-color-adventure: #d2b4de;
$genre-color-animation: #a9cce3;
$genre-color-comedy: #a2d9ce;
$genre-color-crime: #abebc6;
$genre-color-documentary: #f9e79f;
$genre-color-drama: #f5cba7;
$genre-color-family: #884ea0;
$genre-color-fantasy: #2471a3;
$genre-color-history: #2471a3;
$genre-color-horror: #a93226;
$genre-color-music: #edbb99;
$genre-color-mystery: #a9dfbf;
$genre-color-romance: #ee83f8;
$genre-color-scifi: #aed6f1;
$genre-color-tv: #e7e7e7;
$genre-color-thriller: #fad7a0;
$genre-color-war: #f45558;
$genre-color-western: #e6b0aa;
