@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fontface" as *;

.counter {
    width: 100%;

    &__wrapper {
        width: 90%;
        background-color: $background-colour;
        display: flex;
        justify-content: left;
        margin: 0 auto;
        padding: 0 0.5rem;

        @include tablet {
            max-width: 70rem;
        }
    }

    &__list {
        width: 100%;
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 0.25rem;
    }

    &__item {
        margin: 0;
        padding: 0;
    }

    &__text {
        color: $primary-colour;
        margin: 0 0.5rem 0 0;
        padding: 0;
        text-transform: capitalize;
    }
}
