@use './partials/global' as *;
@use './partials/mixins' as *;
@use './partials/variables' as *;

.header {
    width: 100%;
    border-bottom: 1px solid black;

    &__wrapper {
        margin: 0 auto;
        padding: 0 .5rem;
        display: flex;
        justify-content: space-between;

        @include tablet {
            max-width: 70rem;
        }
    }

    &__heading {
        color: black
    }

    &__subtitle {
        color: black;
    }
}

.hero {

    width: 100%;
    min-height: 3rem;

    &__wrapper {
        width: 90%;
        margin: 0 auto;
        padding: 0 .5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid red;

        @include tablet {
            max-width: 65rem;

        }
    }

    &__guessform {
        width: 100%;
        border: 1px solid orange;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 1rem 0;

        @include tablet {
            flex-direction: row;
            max-width: 50%;
        }
    }

    &__searchbox {
        border: 1px solid skyblue;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__guessinput {
        width: 95%;
        height: 2rem;
        font-size: 1.5rem;
        border-radius: 1rem;

    }

    &__searchsuggestions {
        position: absolute;
        margin-top: 1rem;
    }

    &__suggestion {
        font-size: 1rem;
        text-align: left;
        padding: .5rem;
        vertical-align: middle;
        background: #FFF;
        list-style: none;
        z-index: 5;
        border-bottom: 1px solid lightgray
    }

    &__guesslist {
        border: 1px solid chartreuse;
    }

    &__buttonbox {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__guessbutton {
        height: 3rem;
        color: white;
        font-size: 1.5rem;
        font-weight: bold;
        background-color: blue;
    }

}

.movie {
    width: 100%;
    border: 3px solid pink;

    &__wrapper {
        border: 1px solid green;
        display: flex;
        flex-direction: column;
        margin: 0 auto 2rem;


        @include tablet {
            max-width: 70rem;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__details {
        display: flex;
        font-size: .9rem;

        @include tablet {
            width: 39%;
            height: 300px;
        }
    }

    &__info {
        border: 1px solid grey;
        width: auto;
    }

    &__actorname {
        font-size: .75rem;
        font-style: italic;
        margin-top: 0px;
        text-align: center;
        align-self: middle;
    }

    &__genrelist {
        list-style: none;
        padding: 0;


    }

    &__genre {
        display: inline-block;
        margin: 0;
        padding: .25rem 1rem;
        border-radius: .625rem;

        &--28 {
            // Action
            background: #F5B7B1;
        }

        &--12 {
            // Adventure 
            background: #D2B4DE;
        }

        &--16 {
            // Animation 
            background: #A9CCE3;
        }

        &--35 {
            // Comedy 
            background: #A2D9CE;
        }

        &--80 {
            // Crime 
            background: #ABEBC6;
        }

        &--99 {
            // Documentary 
            background: #F9E79F;
        }

        &--18 {
            // Drama 
            background: #F5CBA7;
        }

        &--10751 {
            // Family 
            background: #884EA0;
        }

        &--14 {
            // Fantasy 
            background: #2471A3;
        }

        &--36 {
            // History 
            background: #2471A3;
        }

        &--27 {
            // Horror    
            background: #A93226;
        }

        &--10402 {
            // Music    
            background: #EDBB99;
        }

        &--9648 {
            // Mystery    
            background: #A9DFBF;
        }

        &--10749 {
            // Romance    
            background: #A3E4D7;
        }

        &--878 {
            // Science Fiction    
            background: #AED6F1;
        }

        &--10770 {
            // TV Movie    
            background: #FFF;
        }

        &--53 {
            // Thriller    
            background: #FAD7A0;
        }

        &--10752 {
            // War    
            background: #D7BDE2;
        }

        &--37 {
            // Western    
            background: #E6B0AA;
        }

    }

    &__castpics {
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        align-items: center;


        @include tablet {
            width: 60%;
        }

        &inner {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }

        &--heading {
            margin: 0;
            align-self: flex-start;
            margin-bottom: 1rem;
        }
    }

    &__headshotbox {

        height: 140px;
        width: 90px;
        border: 1px solid red;
        display: flex;
        flex-direction: column;
        margin-bottom: .5rem;

        @include tablet {
            height: 220px;
            width: 120px;
        }
    }

    &__headshot,
    &__poster {
        object-fit: cover;
        border: .1875rem solid white;
        height: 100px;

        @include tablet {
            height: 170px;
        }

        &--mobile {
            height: 150px;

            @include tablet {
                height: 250px;
            }

        }

        &--key {
            border: .1875rem solid blue;
        }

    }
}