@use './global' as *;

.header {
    width: 50%;

    border-bottom: 1px solid black &__wrapper {
        margin: 0 auto;
        width: 90%;
        display: flex;
        justify-content: space-between;
    }

    &__heading {
        color: black
    }

    &__subtitle {
        color: black;
    }
}

.movie {
    width: 100%;
    margin: 0 auto;
    display: flex;


    &__details {
        width: 20%;
        border: 1px solid red;
        display: flex;
    }

    &__poster {
        max-width: 80px;
    }

    &__castpics {
        width: 60%;

    }

    &__headshot {
        max-width: 80px;
    }
}