@use './partials/global' as *;
@use './partials/mixins' as *;
@use './partials/variables' as *;
@use './partials/fontface' as *;

body {
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #6bb580;
}

.loading {


    &--box {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }

    &--gif {
        margin-top: 6rem;
        max-width: 100px;

        @include tablet {
            max-width: 200px;
        }
    }
}


.header {
    width: 100%;

    &__wrapper {
        width: 90%;
        background-color: #151515;
        margin: 0 auto;
        padding: 0 .5rem 2rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include tablet {
            max-width: 70rem;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            gap: 2rem;
            padding-bottom: 0rem;
        }
    }

    &__heading {
        color: #f1f1f1;
        font-family: "Pacifico";
        font-size: 3rem;
        padding: 0;
        margin: 0;
    }

    &__subtitle {
        color: #f1f1f1;
        font-size: 1.5rem;
        padding: 0;
        margin: 0;
        text-align: center;
        ;
    }
}

.hero {

    width: 100%;
    min-height: 3rem;

    &__wrapper {
        background-color: #151515;
        width: 90%;
        margin: 0 auto;
        padding: 0 .5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include tablet {
            max-width: 70rem;

        }
    }

    &__guessform {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1rem 0;

        @include tablet {
            flex-direction: row;
            width: 60%;
        }
    }

    &__guessinput {
        width: 15.5rem;
        height: 1.5rem;
        font-size: 1rem;
        border-radius: 1rem;
        padding-left: 1rem;

        @include tablet {
            width: 95%;
            height: 3rem;
            font-size: 1.5rem;
            border-radius: 1rem;
            padding-left: 1rem;
        }
    }

    &__suggestionpositioning {
        width: inherit;
        display: flex;
        justify-content: center;
        // align-items: center;
    }


    &__searchsuggestions {
        position: absolute;
        margin-top: 1.5rem;
        left: 0px;

        @include tablet {
            margin-top: 3rem;
        }

    }

    &__suggestion {
        list-style: none;
        font-size: 1rem;
        text-align: left;
        padding: .5rem;
        background: #FFF;
        z-index: 10;
        border-bottom: 1px dotted lightgray
    }

    &__guesslist {
        @include tablet {}
    }

    &__guess {
        list-style: none;
        padding: .25rem 2rem;
        border-radius: 1.25rem;

        &--correct {
            background-color: forestgreen;
            color: white;
        }

        &--incorrect {
            background-color: maroon;
            color: white;
        }
    }


    &__buttonbox {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__guessbutton {
        height: 1.5rem;
        color: white;
        width: 15.5rem;
        font-size: 1rem;
        background-color: #907163;
        border: 0;
        border-radius: 1.25rem;

        @include tablet {
            height: 3.25rem;
            font-size: 1.5rem;
            width: auto;
            padding: 0 1rem;


        }
    }

}

.movie {
    width: 100%;

    &__wrapper {
        width: 90%;
        background-color: #151515;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0 auto;
        padding: 0 .5rem;
        border-bottom: 1px solid #f1f1f1;

        @include tablet {
            min-height: 25rem;
            max-width: 70rem;
            flex-direction: row;
            justify-content: space-between;
        }

        &:first-child {
            border-top: 1px solid #f1f1f1
        }
    }

    &__heading {
        margin: 0 1rem;
        color: #f1f1f1;
        align-self: flex-start;
        margin: 1rem;
    }

    &__details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: .9rem;

        @include tablet {
            width: 40%;
            height: 300px;
        }

        &--inner {
            padding: 0 1rem;
            display: flex;
            justify-content: center;
        }
    }

    &__detailsbox {
        display: flex;
        flex-direction: row;
        width: 100%;

        @include tablet {
            flex-direction: column;
        }
    }

    &__info {
        width: 49%;
        padding-left: 1rem;

        @include tablet {
            width: 100%;
        }
    }

    &__genres {
        width: 50%;

        @include tablet {
            width: 100%;
            padding-left: 1rem;
            ;
        }
    }

    &__text {
        color: white;
        margin: 0;
        padding: 0 0 .25rem 0;

        &--title {
            font-weight: 600;
        }

        &--item {
            font-size: 75%;
        }
    }

    &__actorname {
        font-size: .75rem;
        font-style: italic;
        margin-top: 0px;
        text-align: center;
        align-self: middle;
    }

    &__genrelist {
        list-style: none;
        padding: 0;
    }

    &__genre {
        display: inline-block;
        margin: 0;
        text-align: center;
        padding: .25rem 1rem;
        border-radius: .625rem;

        &--28 {
            // Action
            background: #F5B7B1;
        }

        &--12 {
            // Adventure 
            background: #D2B4DE;
        }

        &--16 {
            // Animation 
            background: #A9CCE3;
        }

        &--35 {
            // Comedy 
            background: #A2D9CE;
        }

        &--80 {
            // Crime 
            background: #ABEBC6;
        }

        &--99 {
            // Documentary 
            background: #F9E79F;
        }

        &--18 {
            // Drama 
            background: #F5CBA7;
        }

        &--10751 {
            // Family 
            background: #884EA0;
        }

        &--14 {
            // Fantasy 
            background: #2471A3;
        }

        &--36 {
            // History 
            background: #2471A3;
        }

        &--27 {
            // Horror    
            background: #A93226;
        }

        &--10402 {
            // Music    
            background: #EDBB99;
        }

        &--9648 {
            // Mystery    
            background: #A9DFBF;
        }

        &--10749 {
            // Romance    
            background: #A3E4D7;
        }

        &--878 {
            // Science Fiction    
            background: #AED6F1;
        }

        &--10770 {
            // TV Movie    
            background: #FFF;
        }

        &--53 {
            // Thriller    
            background: #FAD7A0;
        }

        &--10752 {
            // War    
            background: #D7BDE2;
        }

        &--37 {
            // Western    
            background: #E6B0AA;
        }
    }

    &__castpics {
        display: flex;
        flex-direction: column;
        align-items: center;


        @include tablet {
            width: 59%;
        }

        &--inner {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }


    }

    &__headshotbox {
        height: 140px;
        width: 90px;
        display: flex;
        flex-direction: column;
        margin: 0 .125rem .5rem .125rem;
        padding: 0 .125rem;
        background-color: #f1f1f1;

        @include tablet {
            height: 220px;
            width: 120px;
        }
    }

    &__poster {
        object-fit: cover;
        border: .1875rem solid #f1f1f1;
        height: 100px;

        @include tablet {
            height: 125px;
        }

    }

    &__headshot {
        object-fit: cover;
        border: .1875rem solid #f1f1f1;
        height: 100px;

        @include tablet {
            height: 170px;
        }

        &--mobile {
            height: 150px;

            @include tablet {
                height: 250px;
            }
        }

        &--key {
            border: .1875rem solid blue;
        }

    }

    &__hints {}
}