@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fontface" as *;

.header {
    width: 100%;

    &__wrapper {
        width: 90%;
        background-color: $background-colour;
        margin: 0 auto;
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include tablet {
            max-width: 70rem;
            align-items: flex-start;
            padding-bottom: 0rem;
        }
    }

    &__clappertop {
        width: 100%;
        height: 1rem;
        margin: 0;
        display: flex;
        justify-content: space-between;

        &--white {
            width: 15%;
            height: 100%;
            background-color: $primary-colour;
            transform: skew(20deg);
        }
    }

    &__clapperbottom {
        width: 100%;
        height: 1rem;
        margin: 0;
        display: flex;
        justify-content: space-between;

        &--white {
            width: 15%;
            height: 100%;
            background-color: $primary-colour;
            transform: skew(-20deg);
        }
    }

    &__heading {
        display: inline-block;
        color: $primary-colour;
        font-family: "Pacifico";
        font-size: 3rem;
        padding: 0 0 0 0.5rem;
        margin: 0;
        text-align: center;
    }

    &__headinglink {
        color: inherit;
        text-decoration: none;

        &:focus-visible {
            outline: 0.125rem solid $primary-colour;
            outline-offset: 0.25rem;
        }
    }

    &__subtitle {
        color: $primary-colour;
        font-size: 1.5rem;
        font-style: italic;
        padding: 0 0 1rem 0.5rem;
        margin: 0;
        text-align: center;
    }
}
