@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fontface" as *;

.hero {
    width: 100%;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 20;

    &__wrapper {
        background-color: $background-colour;
        width: 90%;
        margin: 0 auto;
        padding: 0 0.5rem;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        @include tablet {
            max-width: 70rem;
        }
    }

    &__guessform {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem 0;

        @include tablet {
            width: 80%;
        }
    }

    &__guessinput {
        width: 80%;
        height: 2.5rem;
        font-size: 1.5rem;
        border-radius: 0.5rem;
        padding: 0 1rem;
        &--complete {
            display: none;
        }
    }

    &__suggestionpositioning {
        width: 80%;
    }

    &__searchsuggestions {
        position: absolute;
        list-style: none;
        padding: 0;
        margin: 0;
        width: 80%;
    }

    &__suggestion {
        min-width: 60%;
        height: 6.5rem;
        font-size: 1.5rem;
        background: $suggestion-bg-colour;
        color: $suggestion-text-colour;
        border-bottom: 1px dotted $suggestion-border-colour;
        padding: 0.25rem 0.5rem;
        text-align: left;

        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    &__suggestionposter {
        height: 6rem;
        width: auto;
        border-radius: 0.25rem;
        flex-shrink: 0;
        object-fit: cover;
    }
}
