@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fontface" as *;

.hero {
    width: 100%;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 20;

    &__wrapper {
        background-color: #151515;
        width: 90%;
        margin: 0 auto;
        padding: 0 0.5rem;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        @include tablet {
            max-width: 70rem;
        }
    }

    &__guessform {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem 0;

        @include tablet {
            width: 80%;
        }
    }

    &__guessinput {
        width: 80%;
        height: 2.5rem;
        font-size: 1.5rem;
        border-radius: 0.5rem;
        padding: 0 1rem;
    }

    &__suggestionpositioning {
        width: 80%;
    }

    &__searchsuggestions {
        position: absolute;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__suggestion {
        width: 100%;
        list-style: none;
        height: 2.5rem;
        font-size: 1.5rem;
        background: #fff;
        color: #151515;
        border-bottom: 1px dotted lightgray;
        padding: 0.25rem 0.5rem;
        text-align: left;
    }
}
