@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fontface" as *;

.puzzlelist {
    width: 100%;
    font-size: 0.9rem;
    &__wrapper {
        width: 90%;
        background-color: $background-colour;
        margin: 0 auto;
        padding: 0.5rem;
        border-bottom: 1px solid $primary-colour;

        @include tablet {
            max-width: 70rem;
        }
    }

    &__heading {
        color: $primary-colour;
    }

    &__puzzlewrapper {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 0 2rem;

        @include tablet {
            flex-direction: row;
            align-items: center;
            gap: 1rem;
        }
    }

    &__progress {
        font-weight: bold;
    }

    &__text {
        color: $primary-colour;
    }

    &__nameswrapper {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        gap: 0.25rem;
    }

    &__status {
        font-style: italic;
    }

    &__statuswrapper {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        flex-wrap: wrap;

        @include tablet {
            justify-content: flex-end;
            min-width: 14rem;
        }
    }

    &__list {
        list-style: none;
    }

    &__listitem {
        display: inline-block;
        font-style: italic;

        &:after {
            content: ",\00a0";
        }

        &:nth-child(5):after {
            content: ", &\00a0";
        }

        &:nth-child(6):after {
            content: "";
        }
    }
}
