@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fontface" as *;

.puzzlelist {
    width: 100%;
    font-size: 0.9rem;
    &__wrapper {
        width: 90%;
        background-color: $site-background-color;
        margin: 0 auto;
        padding: 0.5rem;
        border-bottom: 1px solid $site-primary-color;

        @include tablet {
            max-width: 70rem;
        }
    }

    &__heading {
        color: $site-primary-color;
    }

    &__puzzlewrapper {
        display: flex;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
        }
    }

    &__number,
    &__progress {
        flex-basis: 10%;
        font-weight: bold;
    }

    &__text {
        color: $site-primary-color;
    }

    &__nameswrapper {
        flex-basis: 38%;
    }

    &__status {
        flex-basis: 38%;
        font-style: italic;
    }

    &__list {
        list-style: none;
    }

    &__listitem {
        display: inline-block;
        font-style: italic;

        &:after {
            content: ",\00a0";
        }

        &:nth-child(5):after {
            content: ", &\00a0";
        }

        &:nth-child(6):after {
            content: "";
        }
    }
}
