@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fontface" as *;

.puzzlelist {
    width: 100%;
    font-size: 0.9rem;
    &__wrapper {
        width: 90%;
        background-color: $background-colour;
        margin: 0 auto;
        padding: 0.5rem;
        border-bottom: 1px solid $primary-colour;

        @include tablet {
            max-width: 70rem;
        }
    }

    &__heading {
        color: $primary-colour;
    }

    &__puzzlewrapper {
        display: flex;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
        }
    }

    &__number,
    &__progress {
        flex-basis: 10%;
        font-weight: bold;
    }

    &__text {
        color: $primary-colour;
    }

    &__nameswrapper {
        flex-basis: 38%;
    }

    &__status {
        flex-basis: 38%;
        font-style: italic;

        &--solved {
            color: rgb(7, 235, 7);
        }

        &--failed {
            color: rgb(253, 63, 63);
        }

        &--not_attempted {
            color: $primary-colour;
        }
    }

    &__list {
        list-style: none;
    }

    &__listitem {
        display: inline-block;
        font-style: italic;

        &:after {
            content: ",\00a0";
        }

        &:nth-child(5):after {
            content: ", &\00a0";
        }

        &:nth-child(6):after {
            content: "";
        }
    }
}
