@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fontface" as *;

.movie {
    width: 100%;

    &__wrapper {
        width: 90%;
        background-color: $background-colour;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0 auto;
        padding: 0 0.5rem;
        border-bottom: 1px solid $primary-colour;

        @include tablet {
            max-width: 70rem;
            min-height: 28rem;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        &:first-child {
            border-top: 1px solid $primary-colour;
        }

        &--guessed,
        &--guessed:first-child {
            border: 10px solid green;
        }
    }

    &__heading {
        margin: 0.5rem 1rem 1rem 0rem;
        color: $primary-colour;
        align-self: flex-start;
    }

    &__details {
        order: 0;
        display: flex;
        flex-direction: column;
        font-size: 0.9rem;
        width: 100%;

        @include tablet {
            width: 50%;
        }

        &--inner {
            // padding: 0 0.75rem;
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: 0 auto 1rem;
            height: 100%;
            width: 95%;
        }
    }

    &__detailsbox {
        display: flex;
        flex-direction: column;
        padding-left: 5%;
        width: 74%;

        &--title,
        &--director,
        &--year,
        &--synopsis,
        &--genres {
            display: flex;
            flex-direction: column;
            margin: 0;
            font-size: 0.75rem;
            height: 100%;

            @include desktop {
                padding: 0 0.75rem;
            }
        }
    }

    &__posterbox {
        width: 25%;
    }

    &__poster {
        display: block;
        object-fit: cover;
        width: 100%;
        border: 1px solid $primary-colour;
        margin: 0 auto 0 auto;
    }

    &__text {
        color: $primary-colour;
        margin: 0;
        padding: 0;
        display: inline-block;
        min-height: 1.5rem;

        &--title {
            min-width: 25%;
            font-weight: 550;
        }

        &--item {
            width: 100%;
            margin-bottom: 3%;
        }

        &--hints {
            width: 100%;
            font-size: 0.75rem;
            font-style: italic;
            cursor: help;
        }

        &--directors {
            &:before {
                content: ",\00a0";
            }

            &:first-child:before {
                content: "";
            }

            &:last-child:before {
                content: ",\00a0 &\00a0";
            }

            &:only-child:before {
                content: "";
            }
        }
    }

    &__actorname {
        font-size: 0.65rem;
        font-style: italic;
        margin: 0.25rem 0 0 0;
        text-align: center;
        align-self: middle;

        &--as {
            margin: 0;
        }

        &--char {
            color: red;
        }
    }

    &__castpics {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        @include tablet {
            width: 49%;
        }

        &--inner {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            width: 95%;
        }
    }

    &__headshotbox {
        height: 100%;
        min-height: 175px;
        width: 19%;
        display: flex;
        border-radius: 0.5rem;
        flex-direction: column;
        margin: 0rem 0.5% 0.25rem;
        background-color: $primary-colour;

        @include tablet {
            height: 100%;
            min-height: 225px;

            margin: 0rem 0.125rem 0.125rem;
        }

        @include desktop {
            margin: 0rem 0.25rem 0.25rem;
        }
    }

    &__headshot {
        object-fit: cover;
        object-position: center 20%;
        height: 100px;
        border-radius: 0.5rem 0.5rem 0 0;

        @include tablet {
            height: 150px;
        }

        &--mobile {
            height: 150px;

            @include tablet {
                height: 250px;
            }
        }

        &--key {
            border: 0.1875rem solid blue;
        }
    }
}
