@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fontface" as *;

.movie {
    width: 100%;

    &__wrapper {
        width: 90%;
        background-color: $background-colour;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0 auto;
        padding: 0 0.5rem;
        border-bottom: 1px solid $primary-colour;

        @include tablet {
            max-width: 70rem;
            min-height: 28rem;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        &:first-child {
            border-top: 1px solid $primary-colour;
        }

        &--guessed,
        &--guessed:first-child {
            border: 10px solid green;
        }
    }

    &__heading {
        margin: 0.5rem 1rem 1rem 0rem;
        color: $primary-colour;
        align-self: flex-start;
    }

    &__castpics {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        @include tablet {
            width: 49%;
        }

        &--inner {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            width: 95%;
        }
    }
}
