@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fontface" as *;

.movie {
    width: 100%;

    &__wrapper {
        width: 90%;
        background-color: $site-background-color;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0 auto;
        padding: 0 0.5rem;
        border-bottom: 1px solid $site-primary-color;

        @include tablet {
            max-width: 70rem;
            min-height: 28rem;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        &:first-child {
            border-top: 1px solid $site-primary-color;
        }

        &--guessed,
        &--guessed:first-child {
            border: 10px solid green;
        }
    }

    &__heading {
        margin: 0.5rem 1rem 1rem;
        color: $site-primary-color;
        align-self: flex-start;
    }

    &__details {
        order: 0;
        display: flex;
        flex-direction: column;
        font-size: 0.9rem;

        @include tablet {
            width: 45%;
        }

        &--inner {
            padding: 0 0.75rem;
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-bottom: 1rem;

            @include tablet {
                // flex-direction: row;
            }
        }
    }

    &__detailsbox {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        &--title,
        &--director,
        &--year,
        &--synopsis,
        &--genres {
            display: flex;
            flex-direction: column;
            margin: 0;

            @include desktop {
                flex-direction: row;
                padding: 0 0.75rem;
            }
        }

        &--genres {
            flex-direction: row;
            // flex-wrap: wrap;
        }
    }

    &__genrelist {
        display: flex;
        flex-wrap: wrap;
    }

    &__genre {
        white-space: nowrap;
        position: relative;
        margin: 0 0.3125rem 0.25rem 0.625rem;
        display: inline-block;
        height: 1.5625rem;
        border-radius: 0 0.3125rem 0.3125rem 0;
        padding: 0 1.5625rem 0 0.9375rem;
        background: #e8edf0;
        border: 1px solid;
        line-height: 1.4375rem;

        &:before {
            position: absolute;
            background: #e8edf0;
            content: "\25CF";
            color: $site-primary-color;
            font-size: 0.75rem;
            line-height: 0.8125rem;
            text-indent: 0.375rem;
            top: 0.1875rem;
            left: -0.625rem;
            width: 1.125rem;
            height: 1.125rem;
            transform: rotate(45deg);
            border-left: 1px solid;
            border-bottom: 1px solid;
        }

        &:after {
            position: absolute;
            right: 0;
            margin: 0.0625rem 0.4375rem;
            font-weight: bold;
            font-size: 1.1875rem;
        }

        &--28 {
            // Action
            background: $genre-color-action;
            border-color: $genre-color-action;
            &:before {
                background: $genre-color-action;
                border-color: $genre-color-action;
                border-color: $genre-color-action;
            }
        }

        &--12 {
            // Adventure
            background: $genre-color-adventure;
            border-color: $genre-color-adventure;
            &:before {
                background: $genre-color-adventure;
                border-color: $genre-color-adventure;
                border-color: $genre-color-adventure;
            }
        }

        &--16 {
            // Animation
            background: $genre-color-animation;
            border-color: $genre-color-animation;
            &:before {
                background: $genre-color-animation;
                border-color: $genre-color-animation;
                border-color: $genre-color-animation;
            }
        }

        &--35 {
            // Comedy
            background: $genre-color-comedy;
            border-color: $genre-color-comedy;
            &:before {
                background: $genre-color-comedy;
                border-color: $genre-color-comedy;
                border-color: $genre-color-comedy;
            }
        }

        &--80 {
            // Crime
            background: $genre-color-crime;
            border-color: $genre-color-crime;
            &:before {
                background: $genre-color-crime;
                border-color: $genre-color-crime;
                border-color: $genre-color-crime;
            }
        }

        &--99 {
            // Documentary
            background: $genre-color-documentary;
            border-color: $genre-color-documentary;
            &:before {
                background: $genre-color-documentary;
                border-color: $genre-color-documentary;
                border-color: $genre-color-documentary;
            }
        }

        &--18 {
            // Drama
            background: $genre-color-drama;
            border-color: $genre-color-drama;
            &:before {
                background: $genre-color-drama;
                border-color: $genre-color-drama;
                border-color: $genre-color-drama;
            }
        }

        &--10751 {
            // Family
            background: $genre-color-family;
            border-color: $genre-color-family;
            &:before {
                background: $genre-color-family;
                border-color: $genre-color-family;
                border-color: $genre-color-family;
            }
        }

        &--14 {
            // Fantasy
            background: $genre-color-fantasy;
            border-color: $genre-color-fantasy;
            &:before {
                background: $genre-color-fantasy;
                border-color: $genre-color-fantasy;
                border-color: $genre-color-fantasy;
            }
        }

        &--36 {
            // History
            background: $genre-color-history;
            border-color: $genre-color-history;
            &:before {
                background: $genre-color-history;
                border-color: $genre-color-history;
                border-color: $genre-color-history;
            }
        }

        &--27 {
            // Horror
            background: $genre-color-horror;
            border-color: $genre-color-horror;
            &:before {
                background: $genre-color-horror;
                border-color: $genre-color-horror;
                border-color: $genre-color-horror;
            }
        }

        &--10402 {
            // Music
            background: $genre-color-music;
            border-color: $genre-color-music;
            &:before {
                background: $genre-color-music;
                border-color: $genre-color-music;
                border-color: $genre-color-music;
            }
        }

        &--9648 {
            // Mystery
            background: $genre-color-mystery;
            border-color: $genre-color-mystery;
            &:before {
                background: $genre-color-mystery;
                border-color: $genre-color-mystery;
                border-color: $genre-color-mystery;
            }
        }

        &--10749 {
            // Romance
            background: $genre-color-romance;
            border-color: $genre-color-romance;
            &:before {
                background: $genre-color-romance;
                border-color: $genre-color-romance;
                border-color: $genre-color-romance;
            }
        }

        &--878 {
            // Science Fiction
            background: $genre-color-scifi;
            border-color: $genre-color-scifi;
            &:before {
                background: $genre-color-scifi;
                border-color: $genre-color-scifi;
                border-color: $genre-color-scifi;
            }
        }

        &--10770 {
            // TV Movie
            background: $genre-color-tv;
            border-color: $genre-color-tv;
            &:before {
                background: $genre-color-tv;
                border-color: $genre-color-tv;
                border-color: $genre-color-tv;
            }
        }

        &--53 {
            // Thriller
            background: $genre-color-thriller;
            border-color: $genre-color-thriller;
            &:before {
                background: $genre-color-thriller;
                border-color: $genre-color-thriller;
                border-color: $genre-color-thriller;
            }
        }

        &--10752 {
            // War
            background: $genre-color-war;
            border-color: $genre-color-war;
            &:before {
                background: $genre-color-war;
                border-color: $genre-color-war;
                border-color: $genre-color-war;
            }
        }

        &--37 {
            // Western
            background: $genre-color-western;
            border-color: $genre-color-western;
            &:before {
                background: $genre-color-western;
                border-color: $genre-color-western;
                border-color: $genre-color-western;
            }
        }
    }

    &__poster {
        object-fit: cover;
        height: 100px;
        border: 1px solid $site-primary-color;
        margin: 0 1rem 1rem 0;

        @include tablet {
            height: 170px;
            margin: 0;
        }

        &--mobile {
            height: 150px;

            @include tablet {
                height: 250px;
            }
        }
    }

    &__text {
        color: $site-primary-color;
        margin: 0;
        padding: 0;
        display: inline-block;
        min-height: 1.5rem;

        &--title {
            min-width: 25%;
            font-weight: 550;
        }

        &--item {
            width: 100%;

            @include tablet {
                width: 74%;
            }
        }

        &--hints {
            width: 100%;
            font-size: 0.75rem;
            font-style: italic;
            cursor: help;
        }

        &--directors {
            &:before {
                content: ",\00a0";
            }

            &:first-child:before {
                content: "";
            }

            &:last-child:before {
                content: ",\00a0 &\00a0";
            }

            &:only-child:before {
                content: "";
            }
        }
    }

    &__actorname {
        font-size: 0.75rem;
        font-style: italic;
        margin: 0.25rem 0 0 0;
        text-align: center;
        align-self: middle;

        &--as {
            margin: 0;
        }

        &--char {
            color: red;
        }
    }

    &__castpics {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        @include tablet {
            width: 54%;
        }

        &--inner {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            width: 80%;

            @include tablet {
                width: 100%;
            }
        }
    }

    &__headshotbox {
        height: 200px;
        width: 80px;
        display: flex;
        border-radius: 0.5rem;
        flex-direction: column;
        margin: 0rem 0.5rem 0.25rem;
        background-color: $site-primary-color;

        @include tablet {
            height: 275px;
            width: 110px;
            margin: 0rem 0.25rem 0.25rem;
        }

        @include desktop {
            width: 110px;
            margin: 0rem 0.25rem 0.125rem;
        }
    }

    &__headshot {
        object-fit: cover;
        height: 100px;
        border-radius: 0.5rem 0.5rem 0 0;

        @include tablet {
            height: 170px;
        }

        &--mobile {
            height: 150px;

            @include tablet {
                height: 250px;
            }
        }

        &--key {
            border: 0.1875rem solid blue;
        }
    }

    &__hintswrapper {
        width: 100%;
        margin: 0 auto;
        padding: 0 0 0 1rem;
    }

    &__hintsbutton {
        font-size: 0.75rem;
        border-radius: 0.5rem;
        padding: 0;
        width: 6rem;

        &--year,
        &--director,
        &--names,
        &--synopsis,
        &--easy {
            &:disabled {
                background-color: rgb(67, 66, 66);
                color: rgb(42, 42, 42);
            }
        }

        &--year {
            background-color: rgb(70, 64, 244);
            color: $site-primary-color;
        }
        &--director {
            background-color: rgb(70, 64, 244);
            color: $site-primary-color;
        }
        &--synopsis {
            background-color: rgb(70, 64, 244);
            color: $site-primary-color;
        }
        &--names {
            background-color: rgb(70, 64, 244);
            color: $site-primary-color;
        }
        &--easy {
            background-color: rgb(108, 0, 0);
            color: $site-primary-color;
        }
    }
}
