@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fontface" as *;

.nav {
    width: 100%;

    &__wrapper {
        border-top: 1px solid $primary-colour;
        border-bottom: 1px solid $primary-colour;
        background-color: $background-colour;
        width: 90%;
        margin: 0 auto;
        padding: 0 0.5rem;
        display: flex;
        flex-direction: row;
        justify-content: center;

        @include tablet {
            max-width: 70rem;
        }
    }

    &__list {
        padding: 0;
        list-style: none;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
