@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fontface" as *;

.nav {
    width: 100%;

    &__wrapper {
        border-top: 1px solid $primary-colour;
        border-bottom: 1px solid $primary-colour;
        background-color: $background-colour;
        width: 90%;
        margin: 0 auto;
        padding: 0 0.5rem;
        display: flex;
        flex-direction: row;
        justify-content: center;

        @include tablet {
            max-width: 70rem;
        }
    }

    &__list {
        padding: 0;
        list-style: none;
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__item {
        display: inline-block;
        color: $primary-colour;
        font-size: 0.75rem;
        font-weight: 600;
        border-left: 1px solid $primary-colour;
        border-right: 1px solid $primary-colour;
        padding: 0 0.25rem 1rem;

        margin: 0;
        text-align: center;

        &:first-child {
            border-left: none;
        }

        &:last-child {
            border-right: none;
        }

        &--hidden {
            display: none;

            @include tablet {
                display: contents;
            }
        }

        &--hideifnull {
            visibility: hidden;
        }

        &--link {
            text-decoration: none;
            color: $primary-colour;

            &:hover {
                text-decoration: underline;
            }
        }

        &--inactivelink {
            text-decoration: none;
            color: rgb(100, 100, 100);
            pointer-events: none;
            cursor: default;
        }

        @include tablet {
            font-size: 1rem;
            border: none;
            padding: 0 1rem;
        }
    }
}
