@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fontface" as *;

.footer {
    width: 100%;

    &__wrapper {
        width: 90%;
        background-color: $site-background-color;
        margin: 0 auto;
        padding: 0.5rem 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include tablet {
            max-width: 70rem;
        }
    }

    &__text {
        color: $site-primary-color;
        margin: 0;
        font-size: 0.75rem;
        text-align: center;

        @include tablet {
            font-size: 1rem;
        }

        &--tiny {
            margin-top: 2rem;
            font-size: 0.5rem;
        }
    }
}
