@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fontface" as *;

.nav__item {
    display: inline-block;
    color: $primary-colour;
    font-size: 0.75rem;
    font-weight: 600;
    padding: 0 0.5rem 1rem;
    margin: 0;
    text-align: center;

    &--link {
        text-decoration: none;
        color: $primary-colour;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        &:hover {
            text-decoration: none;
        }
    }

    &--inactivelink {
        text-decoration: none;
        color: $disabled-colour;
        pointer-events: none;
        cursor: default;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    &--button {
        background: none;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        &:disabled {
            cursor: default;
        }
    }

    @include tablet {
        font-size: 1rem;
        padding: 0 1rem;
    }

    &__icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 1.25rem;
    }

    &__label {
        display: inline-block;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.25rem;
    }
}
